#actorMovie {
  .actorMovie {
    .block {
      width: 100px;
      height: 150px;
      text-align: center;

      img {
        width: 100px;
        height: 150px;
      }

      h2 {
        // color: white;
        font-size: 16px;
      }

      h3 {
        // color: white;
        font-size: 12px;
      }
    }
  }
}