#actorMovie{
  .actorMovie{
    .block{
      width: 100px;
      height: 350px;
        img{
          width: 200px;
          height: 250px;
        }
      h2{
        color: white;
        font-size: 16px;
      }
      h3{
        color: white;
        font-size: 12px;
      }
    }
  }
}