#home{
  background: url("../../img/movie.jpg") no-repeat center/cover;
  min-height: 70vh;
.home{
  width: 90%;
  margin: 0 auto;
  .home_nav{
    padding: 90px 0;
    h1{
      color: white;
      font-weight: 700;
      font-size: 40px;
      margin: 0 0  8px 0;
    }
    p{
      font-size: 25px;
      font-weight: 600;
      color: white;
      margin: 0 0 60px 0;
    }
    input{
     width: 1640px;
      height: 40px;
      border-radius:30px ;
      border: none;
      outline: none;
      padding-left: 14px;
    }
    button{
      height: 43px;
      width: 90px;
      border-radius: 30px;
      border: none;
      background: #4f4fe7;
      position: absolute;
      top: 313px;
      right: 80px;
      color: #fff
    }
}
}
}