.header{
  display: flex;
  justify-content:space-around;
  background: rgb(3, 37, 65);
  top: 0;
  position: sticky;
  z-index: 99;
  //background: rgba(255, 255, 255, 0.35);
  .header_nav{
    color: #0a0af1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    .line{
      width: 60px;
      height: 17px;
      border-radius:10px ;
      background: #9292e1;
      margin-left: 5px;
    }
  }
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 10px;
    li{
      color:white;
      list-style:none;
      text-decoration: none;
    }
  }
  .add{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 10px;
    select{
      margin: 0 15px;
      border: none;
      outline: none;
      background: none;
      color: white;
    }
    input{
      border-radius: 7px;
      outline: none;
      border: 2px solid white;
    }

  }
}