.bloc{
  display: flex;
  flex-wrap: wrap;

}
  .block{
    background: #032541;
    padding: 5px;
    margin: 7px;
    border-radius: 10px;
    width: 210px;
    text-align: center;

    .popular_img{
      width: 200px;
    }
    .popular_title{
      width: 200px;
      color: white;
      text-align: center;
      font-size: 12px;
    }
    .popular_data{
      text-align: center;
      color: white;
      font-size: 12px;
    }
  }